<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">

    <title>CHAVI&mdash;COCO PEAT</title>

    <link rel="stylesheet" type="text/css" href="/static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/static/assets/css/templatemo-klassy-cafe.css">

    <link rel="stylesheet" href="/static/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="/static/assets/css/lightbox.css">
<style>
    .fcc-btn {
      background-color: #199319;
      color: white;
      padding: 15px 25px;
      text-decoration: none;
    }
    .button {
  border-radius: 4px;
  background-color: white;
  border: none;
  color: red;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
  </style>
    </head>

    <body>


    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">


                        <a href="index.html" class="logo">
                            <img src="/static/assets/images/logo.png" align="e" width="250" height="90">
                        </a>

                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>


                            <li class="scroll-to-section"><a href="#menu">Products</a></li>
                            <li class="scroll-to-section"><a href="/order">Orders</a></li>
                            <li class="scroll-to-section"><a href="#reservation">Contact Us</a></li>
                            <li class="scroll-to-section"><a href="cart.html"><input type="image" src="https://img.icons8.com/ios-glyphs/30/000000/fast-cart.png"width="40" height="38" alt="submit"</a></li>


                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>

                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div id="top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="left-content">
                        <div class="inner-content">
                            <br>
                          <br>
                            <h2>CHAVI COCO PEAT</h2>
                            <h6>100% Origin Coconut Coir Fibres</h6>
                            <div class="main-white-button scroll-to-section">
                                <a href="#reservation">CONTACT US</a>

                            </div>
                            <br>
                                <br>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="main-banner header-text">
                        <div class="Modern-Slider">

                          <div class="item">
                            <div class="img-fill">
                                <img src="/static/assets/images/2.jpeg" alt="">
                            </div>
                          </div>



                          <div class="item">
                            <div class="img-fill">
                                <img src="/static/assets/images/1.jpg" alt="">
                            </div>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="left-text-content">
                        <div class="section-heading">
                            <h6>About Us</h6>
                            <h2>CHAVI&mdash;COCO PEAT</h2>
                        </div>
                        <p>Chavi is a leading manufacturer of Coir Pith/Coco peat products and one of the largest exporters of Coco pith products from India. Our Coir products are produced in our own manufacturing facility which is in South India with a wide worldwide growing medium for various horticulture,market presence in Europe, USA, Australia, Japan, South Africa and Middle East countries. Chavi Substrates Coir is used in the floriculture, and arboriculture and substrates industry. It is also used in various hydroponic crops, nurseries, plant propagation and bedding plants both in its pure form as well as in the many specialized mixtures suited for different growing systems.</p>
                        <div class="row">
                            <div class="col-4">
                                <img src="/static/assets/images/a1.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="/static/assets/images/a2.jpg" alt="">
                            </div>
                            <div class="col-4">
                                <img src="/static/assets/images/a3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12">
                    <div class="right-content">
                        <div class="thumb">

                <video id="myVideo" width="380" height="300" autoplay="autoplay" controls autoplay>
      <source src="/static/assets/images/movie.mp4" type="video/mp4">
         <source src="movie.ogg" type="video/ogg">
      </video>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="menu">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="section-heading">
                        <h6>Our Products</h6>
                        <h2>CHAVI COCO PEAT</h2>
                        <p>100% ORIGIN COCONUT COIR FIBRES</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item-carousel">
            <div class="col-lg-12">
                <div class="owl-menu-item owl-carousel">
                    <div class="item">

                        <div class='card card1'>
                            <div class="price"><h6>5kg/70Ltr</h6></div>
                            <div class='info'>
                              <h1 class='title'>Chavi</h1>
                              <h6 class='description'>Coco Peat</h6>
                              <div class="main-text-button">

                                  <div class="scroll-to-section"><a href="cark.html"><button class="button"><span>Add Cart</span></button> <i class=""></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">

                        <div class='card card2'>
                            <div class="price"><h6>650g/9Ltr</h6></div>
                            <div class='info'>
                              <h1 class='title'>Chavi</h1>
                              <h6 class='description'>Coco Peat</h6>
                              <div class="main-text-button">

                                    <div class="scroll-to-section"><a href="cark.html"><button class="button"><span>Add Cart</span></button> <i class=""></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class='card card3'>
                            <div class="price"><h6>10 Ltr</h6></div>
                            <div class='info'>
                              <h1 class='title'>Chavi</h1>
                              <h6 class='description'>Coco Peat</h6>
                              <div class="main-text-button">

                                <div class="scroll-to-section"><a href="cark.html"><button class="button"><span>Add Cart</span></button> <i class=""></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class='card card5'>
                            <div class="price"><h6>20 Ltr</h6></div>
                            <div class='info'>
                              <h1 class='title'>Chavi</h1>
                              <h6 class='description'>Coco Peat</h6>
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="cark.html"><button class="button"><span>Add Cart</span></button> <i class=""></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class='card card3'>
                            <div class="price"><h6>0</h6></div>
                            <div class='info'>
                              <h1 class='title'>Chavi</h1>
                              <h6 class='description'>Coco Peat</h6>
                              <div class="main-text-button">
                                  <div class="scroll-to-section"><a href="cark.html"><button class="button"><span>Add Cart</span></button> <i class=""></i></a></div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="chefs">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Our Teams</h6>
                        <h2>We offer the best ingredients for you</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                            <img src="/static/assets/images/person.png" alt="Chef #1">
                        </div>
                        <div class="down-content">
                            <h4>name</h4>
                            <span>CEO</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                            <img src="/static/assets/images/person.png" alt="Chef #2">
                        </div>
                        <div class="down-content">
                            <h4>name</h4>
                            <span>Manager</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="chef-item">
                        <div class="thumb">
                            <div class="overlay"></div>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google"></i></a></li>
                            </ul>
                            <img src="/static/assets/images/person.png" alt="Chef #3">
                        </div>
                        <div class="down-content">
                            <h4>name</h4>
                            <span>Developers</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="reservation">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="left-text-content">
                        <div class="section-heading">




                            <h6>Manufactured by :</h6>
                            <h2>  CHAVI COCO PEAT  </h2>

                          <h2>D.No. 540, Samusigapuram to Mudukudi Road,       <br>
                            Sidco Colony, Mudukudi, Rajapalayam Taluk,
                                  <br>Virudhunagar District - 626102</h3>

                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="phone">
                                    <i class="fa fa-phone"></i>
                                    <h4>Phone Numbers</h4>
                                    <span><a href="tel:9789128611">+91 9789128611</a><br><a href="https://wa.me/+919789128611">Click To Send Whatsapp Message</a></span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="message">
                                    <i class="fa fa-envelope"></i>
                                    <h4>Emails</h4>
                                    <span><a href="#">chavicocopeat@gmail.com</a><br><a href="mailto: chavicocopeat@gmail.com">Click To Send Mail</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-lg-12">
                                <h4>FOR ENQUIRY</h4>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                            </fieldset>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                              <fieldset>
                                <input name="phone" type="text" id="phone" placeholder="Phone Number*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="orderno" type="text" id="Numbers" placeholder="Order no" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6">
                                <div id="filterDate2">
                                  <div class="input-group date" data-date-format="dd/mm/yyyy">
                                    <input  name="date" id="date" type="text" class="form-control" placeholder="dd/mm/yyyy">
                                    <div class="input-group-addon" >
                                      <span class="glyphicon glyphicon-th"></span>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <br>
                              <br>
          <br>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Submit</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="offers">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 offset-lg-4 text-center">
                    <div class="section-heading">
                        <h6>Chavi</h6>
                        <p>COCO PEAT</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row" id="tabs">
                        <div class="col-lg-12">
                            <div class="heading-tabs">
                                <div class="row">
                                    <div class="col-lg-6 offset-lg-3">
                                        <ul>
                                          <li><a href='#tabs-3'><img src="/static/assets/images/tab-icon-01.png" alt="">Why us</a></li>

                                          <li><a href='#tabs-1'><img src="/static/assets/images/why.png" alt="" width="60" height="60">How to use</a></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <section class='tabs-content'>
                                <article id='tabs-1'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">

                                                            <img src="/static/assets/images/wat5.png" alt="">
                                                            <h4>1) Place brick in suitable container</h4>


                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/wat.png" alt="">
                                                            <h4>2) Add water (Around 18 liters)</h4>


                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/wat3.png" alt="">
                                                            <h4>3) Wait for 20 minutes for the brick to expand</h4>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/wat4.png" alt="">
                                                  <h4>4) Lightly start into a fully mixture</h4>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/wat2.png" alt="">
                                                            <h4>5) The material is ready for use</h4>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>

                                <article id='tabs-3'>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="left-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/w1.png" alt="">
                                                            <h4>FACILITY</h4>
                                                            <p>We have a world class manufacturing facility to produce and supply Cocopeat. All drying is done only in Concrete Drying Yard. Viable location to get RHP CERTIFICATION as well.</p>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/w2.png" alt="">
                                                            <h4>HIGHER YIELD THAN INDUSTRY AVERAGE</h4>
                                                            <p>Guaranteed Yield: >18 yards/Pallet and >360 yards/ 40' HC container</p>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/w3.png" alt="">
                                                            <h4>ON TIME DELIVERY</h4>
                                                            <p>We will always deliver our products (anywhere in the world) within an agreed upon duration. We also make sure we have enough stocks to supply consistently and continuously during the rainy season as well.</p>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/w4.png" alt="">
                                                            <h4>LARGE VOLUMES</h4>
                                                            <p>We cater to customer who buy more than 100 containers per year from us. We have a current capacity to supply 800 MT to 1000 MT (Metric Ton) per month. Also, our scalability to any sudden demand can be easily achieved just because of the mere size and scalable capacity of our manufacturing facility.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="row">
                                                <div class="right-list">
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/w8.png" alt="">
                                                            <h4>NO MIDDLE-MAN</h4>
                                                            <p>All products are delivered from our own Manufacturing Facility, absolutely No Middle-Man. </p>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/w7.png" alt="">
                                                            <h4>TRACEABILITY</h4>
                                                            <p>Our products Production Phase, Quality Segment, Packing Stage and Container Delivery all are traceable. </p>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/w6.png" alt="">
                                                            <h4>CUSTOMIZATION/PRIVATE LABEL</h4>
                                                            <p>We have technical knowledge and experience to customize the products for specific needs of growing. We also provide Turnkey Solutions & deliver Private label products leading to substantial cost savings.</p>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <div class="tab-item">
                                                            <img src="/static/assets/images/w5.png" alt="">
                                                            <h4>VALUE FOR MONEY</h4>
                                                            <p>We have technical knowledge and experience to customize the products for specific needs of growing. We also provide Turnkey Solutions & deliver Private label products leading to substantial cost savings.</p>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="logo">
                        <a href="index.html"><img src="/static/assets/images/wlogo.png" alt=""  width="230" height="100"></a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12">
                    <div class="left-text-content">
                        <p>© Copyright.

                        <br>Design: </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="/static/assets/js/jquery-2.1.0.min.js"></script>


    <script src="/static/assets/js/popper.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>

    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/accordions.js"></script>
    <script src="/static/assets/js/datepicker.js"></script>
    <script src="/static/assets/js/scrollreveal.min.js"></script>
    <script src="/static/assets/js/waypoints.min.js"></script>
    <script src="/static/assets/js/jquery.counterup.min.js"></script>
    <script src="/static/assets/js/imgfix.min.js"></script>
    <script src="/static/assets/js/slick.js"></script>
    <script src="/static/assets/js/lightbox.js"></script>
    <script src="/static/assets/js/isotope.js"></script>


    <script src="/static/assets/js/custom.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>
  </body>
</html>
